@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100;300&display=swap');

/* general */
* {
  box-sizing: border-box;
}

body {
  background-color: rgba(224, 219, 219, 0.986);
  font-family: 'Nanum Gothic', sans-serif;
  color: #222;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  outline: 0;
  
}

a {
  text-decoration: none;
  color: #222;
  font-weight: 600;
}


/* Tree Type Header Navigation */


header {
  border: 1px solid #000;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

nav > section {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo {
  flex: 1;
  min-width: 100px;
}

nav .logo a .fa-html5 {
  font-size: 25px;
  color: coral;
  vertical-align: middle;
}

nav .logo a span {
  font-size: 16px;
}

nav .gnb {
  flex: 2;
  max-width: 500px;
  min-width: 407px;
  gap: 30px;
}

nav .gnb a {
  font-weight: 600;
}
nav .lnb {
  flex: 1;
  max-width: 500px;
  min-width: 80px;
  flex-direction: row;
  justify-content: right;
}

nav .lnb a {
  background-color: rgba(0, 0, 0, 0.797);
  color: #fff;
  border-radius: 15px;
  padding: 8px;
}

