.parent {
    border: 5px solid #000;
    width: 1280px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent div {
    border: 5px solid red;
    height: 200px;
    float: left;
}
.person {
    background-color: #fff;
}
