* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
}

body {
    font-size: 14px;
    background-color: '#F5F6F7';
    line-height: 1.5em;
    color: #222;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #222;
}

/* Reset CSS */
input, select {
    cursor: pointer;
}

/* Custom Select & Number*/
select {
    appearance: none;
    background: url("sel_arr_2x.gif") no-repeat center right 5px;
    background-size: 17px;
}
/* hide spinner */
/* Chrome, Safari, Edge, Opera */
.field input[type=number]::-webkit-inner-spin-button,
.field input[type=number]::-webkit-outer-spin-button {
    appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.member {
    width: calc(100vw/3);
    min-width: 400px; max-width: 500px;
    margin: auto;
    padding: 0 2 0px;
}

/* Member Sign in */
.member input[type=button], .member input[type=submit] {
    background-color: #03C75A;
    color: #FFFFE4;
}

.member .logo {
    height: 30px;
    display: block;
    margin: 50px auto;
}

.member input:not(input[type=radio]):focus,
.member select:focus {
    border: 1px solid #03C75A;
}

.member input:not(input[type=radio]),
.member select {
    border: 1px solid #DADADA;
    padding: 15px;
    width: 100%;
}

.field {
    margin: 10px 0;
}

.field b {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.field.float-text {
    position: relative;
}

.field.float-text span{
    content: '@naver.com';
    position: absolute;
    right: 20px;
    top: 50%;
    pointer-events: none;
}

.field.pw input { 
    background: url("./images/m_icon_pw_step.png") no-repeat;
    background-position: top 14px right -130px;
    background-size: 160px 90px;
}
.field.pw.confirm input {
    background-position: top 14px right -90px;
}

.field.birth div {
    display: flex;
    gap: 10px;
}

.field.tel-number div {
    display: flex;
    gap: 10px;
    margin: 5px 0;
}

.field.tel-number div input[type=button] {
    width: calc(100%/3);
}

.field.tel-number input, 
.field.tel-number select {
    margin-bottom: 5px;
}

.field.gender label {
    margin:0 5px;
}

.field.gender div {
    border: 1px solid #DADADA;
    padding: 15px 5px;
    
}

.field.gender div input {
    display: none;
}

.field.gender div input + em {
    display: inline-block;
    width: 18px; height: 18px;
    background: url("./images/m_radio_step.png") no-repeat;
    background-position: left;
    background-size: 33px 33px;
    transform: translateY(3px);
}

.field.gender div input:checked + em {
    background-position: right;
}

.member-footer {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}

.member-footer div a:hover {
    text-decoration: underline;
    color: #438A01;
}
.member-footer div a:not(:last-child)::after {
    content: "|";
    margin : 0 1px 0 2.5px;
    display: inline-block;
    transform: translateY(-1px);    /* top or left 기준으로 이동 가능 */
}

@media (max-width: 768px) {
    .member {
        width: 100%;
    }
}

.test {
   background-color: #fff;
   font-size: 10px;
   margin-right: 5px;
   background-color: green;
}



